// footer
footer.footer.bg-cover
    .get-started
        .get-started-text-box
            h3
                strong Try Paperjet for FREE!&nbsp;
                | Includes #{freeUploadsQuota} free forms per month
            a.btn.btn-primary.btn-lg.call-to-action-btn.hidden-xs(href="/dashboard/register") get started
    // get-started
    .container-fluid
        .footer-testimonial
            .row
                .col-md-6.col-sm-6
                    blockquote.footer-quote
                        a.avatar-testimonial(href="#")
                            img(src="images/web/avatar-testimonial.png", alt="testimonial avatar")
                        p
                            | Filling in forms is now a breeze, I store them all in one place, I used to lose all my important&nbsp;docs!
                        footer
                            cite(title="Johan Stemmet") Johan Stemmet, CEO City Works
                .col-md-6.col-sm-6.expanded-only
                    blockquote.footer-quote
                        a.avatar-testimonial(href="#")
                            img(src="images/web/avatar-testimonial2.png", alt="testimonial avatar")
                        p
                            | Paperjet replaced a scanner, a fax machine, and a filing cabinet. My office is on its way to paperless bliss.
                        footer
                            cite(title="Lindsay Donalds") Lindsay Donalds, Small Business Owner
            // row
        // footer-testimonial
    // container-fluid
    .container-fluid
        .footer-bottom
            .row
                .col-md-4.col-sm-12.copy
                    .box
                        .footer-logo
                            img(src="images/web/nav-logo-sticky.png", alt="Paperjet Logo of footer")
                            p Copyright &#169; 2015 Paperjet
                        // footer-logo
                        .footer-social-widget
                            ul.social-button
                                li
                                    a(href="https://www.facebook.com/paperjet", target="_blank")
                                        i.fa.fa-facebook
                                li
                                    a(href="https://twitter.com/paperjet", target="_blank")
                                        i.fa.fa-twitter
                                li
                                    a(href="https://plus.google.com/112236326330528660826", target="_blank")
                                        i.fa.fa-google-plus
                        // footer-social-widget
                .col-md-2.col-sm-6.col-xs-12
                    ul.footer-link-nav.clearfix
                        li
                            a(href="/support") Support
                        li
                            a(href="/about") About
                        li
                            a(href="/mobile-app") Mobile app
                .col-md-2.col-sm-6.col-xs-12
                    ul.footer-link-nav.clearfix
                        li
                            a(href="/fill-in-forms") Fill in forms
                        li
                            a(href="/sign-forms") Sign forms
                        li
                            a(href="/fax") Fax
                // col-md-4
                .col-md-2.col-sm-6.col-xs-12
                    ul.footer-link-nav.clearfix
                        li
                            a(href="/security") Security
                        li
                            a(href="/privacy") Privacy Policy
                        li
                            a(href="/terms") Terms &#38; Conditions
                                // col-md-4
                .col-md-2.col-sm-6.col-xs-12
                    ul.footer-link-nav.clearfix
                        li
                            a(href="/#how-it-works") How it works
                        li
                            a(href="/#features") Features
                        li
                            a(href="/pricing") Pricing
                // col-md-4
            // row
        // footer-bottom
    // container-fluid
