.container-fluid
    nav
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
                span.menu-text menu
            a.navbar-brand(href='/')
                img.logo-normal(src='images/web/nav-logo-normal.png', alt='Paperjet')
                img.logo-sticky(src='images/web/nav-logo-sticky.png', alt='Paperjet')
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/#how-it-works') How It Works
                li
                    a(href='/#features') Features
                if userId
                    li.expanded-only
                        .btn-wrap
                            a.btn.uppercase(href='/dashboard/documents')
                                span#avatar-holder.btn-profile
                                | Dashboard
                    li.collapsed-only
                        a(href='/dashboard/documents') #{' '} Dashboard
                else
                    li
                        a(href='/dashboard/login') Login
                    li.expanded-only
                        .btn-wrap
                            a.btn.uppercase(href='/dashboard/register') Sign Up Free
                    li.collapsed-only
                        a(href='/dashboard/register') Sign Up Free
