block variables
    -title='Not Found - Paperjet. Go Paperless'
extends ../layout
block head

block content
    section.top-header-panel.no-bg
        navbar.navbar-default.white.affix(data-offset-top='300', role='navigation')
            include ../nav

    section.general-page
        .light-bg
            .title-box
                h2 Page Not Found

                p The web page you are looking for could not be found. Please browse the links on this page or go to the&nbsp;
                    a(href="/") main page
            .info-box
                p Paperjet allows you to upload forms and very quickly complete and sign them online. This way you dont have to print them out at all or worry about a filing cabinet full of contracts, application forms or PDF documents you are requested to fill out. This was a cool problem to solve however along the way we decided to take it a step further and built software for you that turns the blank spaces into fillable field boxes so you can type your details in straight away. Its hard to explain in words so just give it a try and enjoy the simplicity of filling out a form. Soon we will have more features in making your office paperless to improve your admin chores.

                p Thank you for reading and email us anytime for more information&nbsp;
                    a(href="mailto:support@paperjet.com") support@paperjet.com
