block variables
    -title='About - Paperjet. Go Paperless'
extends ../layout
block head

block content
    section.top-header-panel.no-bg
        navbar.navbar-default.white.affix(data-offset-top='300', role='navigation')
            include ../nav

    section.general-page
        .light-bg
            .title-box
                h2 The Paperjet Story
                p In our business and personal lives we still get asked to fill out forms, print them, fill them out by hand, sign, scan and email them back. We found this an interesting problem to solve.

            .info-box
                p Paperjet allows you to upload forms and very quickly complete and sign them online. This way you dont have to print them out at all or worry about a filing cabinet full of contracts, application forms or PDF documents you are requested to fill out. This was a cool problem to solve however along the way we decided to take it a step further and built software for you that turns the blank spaces into fillable field boxes so you can type your details in straight away. Its hard to explain in words so just give it a try and enjoy the simplicity of filling out a form. Soon we will have more features in making your office paperless to improve your admin chores.
                
                div(style='margin-top:50px;background-image:url(../images/palo-alto.png);background-size:85px 85px;background-repeat:no-repeat;background-position:right 15px center;height:85px')
                    div(style='border:1px solid #e0edf6;background-color:#eff6fe;padding:6px 10px 0px 10px;display:inline-block;border-radius:4px;min-width:50%')
                        p
                            b Headquarters
                        p 1000 Elwell Court, Palo Alto, CA, 94303
