block variables
    -title='Fax with Paperjet. Go Paperless'
extends ../layout
block head

block content
    section.top-header-panel.no-bg
        navbar.navbar-default.white.affix(data-offset-top='300', role='navigation')
            include ../nav

    section.general-page
        .light-bg.light-bg-banner
            .container-fluid.innerpage-banner-wrap.clearfix
                .fax-header.banner-header
                .header
                    h1 Send forms via Email or Fax
                    h2 Or share via dropbox, drive, box, evernote

            .title-box
                h2 Send Faxes to 140 countries
                p With Paperjet you may fill forms and send faxes to 140 countries, flat rate applies. Just refill your Pages balance, and send as many pages as you need.
            .info-box
                h3 Supported countries:
                p Albania, Algeria, American Samoa, Andorra, Angola, Anguilla, Antigua and Barbuda, Argentina, Armenia, Aruba, Australia, Austria, Bahrain, Bangladesh, Barbados, Belgium, Bermuda, Bolivia, Bosnia/Herzegovina, Botswana, Brazil, British Virgin Islands, Brunei, Bulgaria, Cambodia, Canada, Cayman Islands, Chile, China, Colombia, Costa Rica, Croatia, Cyprus, Czech Republic, Denmark, Dominican Republic-809, Dominican Republic-829, Dominican Republic-849, Ecuador-Cuenca, Ecuador, Egypt-Alexandria, Egypt-Cairo, Egypt, Estonia, Finland, France, French Guiana, Georgia, Germany, Gibraltar, Greece, Grenada, Guadeloupe, Guam, Guatemala, Hong Kong, Hungary, Iceland, India, Indonesia, Iran, Iraq-Baghdad, Iraq, Ireland, Israel, Italy, Jamaica, Japan, Jordan, Kenya, Kuwait, Kyrgyzstan, Laos, Latvia, Lebanon, Liechtenstein, Lithuania, Luxembourg, Macau, Macedonia, Malawi, Malaysia, Malta, Mexico, Moldova, Monaco, Montenegro, Morocco, Mozambique, Namibia, Netherland Antilles, Netherlands, New Zealand, Nicaragua, Nigeria, Northern Marianas, Norway, Oman, Pakistan, Panama, Paraguay, Peru, Philippines, Poland, Portugal, Romania, Russia, Rwanda, San Marino, Saudi Arabia, Serbia, Singapore, Slovakia, Slovenia, South Africa, South Korea, Spain, Sri Lanka, Sweden-Stockholm, Sweden, Switzerland, Taiwan, Tajikistan, Thailand, Trinidad and Tobago, Turkey, Uganda, UK, Ukraine, United Arab Emirates, Uruguay, US Virgin Islands, USA-Hawaii, USA-Puerto Rico 787, Uzbekistan, Vatican City, Venezuela, Vietnam, Zambia, Zimbabwe
