block variables
    -title='Fill in forms - Paperjet. Go Paperless'
extends ../layout
block head

block content
    section.top-header-panel.no-bg
        navbar.navbar-default.white.affix(data-offset-top='300', role='navigation')
            include ../nav

    section.general-page
        .light-bg.light-bg-banner
            .container-fluid.innerpage-banner-wrap.clearfix
                .fill-in-forms-header.banner-header
                .header
                    h1 Go Paperless
                    h2 Upload any form and start typing straight away

            .title-box
                h2 Fill in forms
                p Paperjet automatically detects fields and checkboxes in forms. You may fill required fields, change text color and style, and even add new fields and checkmarks to your forms!
