block variables
    -title='Mobile App - Paperjet. Go Paperless'
extends ../layout
block head

block content
    section.top-header-panel.no-bg
        navbar.navbar-default.white.affix(data-offset-top='300', role='navigation')
            include ../nav

    section.general-page
        .light-bg.light-bg-banner
            .container-fluid.innerpage-banner-wrap.clearfix.innerpage-banner-wrap-mobile-app
                .mobile-app-header.banner-header
                .header
                    h1 Mobile Scanning App
                    h2 Scan printed forms to fill, sign and send from your mobile

            .title-box
                h2 Mobile Scanning App Coming Soon!
                p Scan printed forms to fill, sign and send from your mobile.
                p While we are working on the Mobile app, please use our Web dashboard to upload, fill, sign and email/fax your forms. Sign in with Email or Google account.
