block variables
    -title='Privacy - Paperjet. Go Paperless'
extends ../layout
block head

block content
    section.top-header-panel.no-bg
        navbar.navbar-default.white.affix(data-offset-top='300', role='navigation')
            include ../nav

    section.general-page
        .light-bg
            .title-box
                h2 Privacy Policy

                p Thank you for using Paperjet and welcome to our Private Policy. This is where we describe how we collect and use the information when you use our website and its software. Your privacy is important to us and so this privacy policy is intended to give you confidence in the privacy and security of the personal information we obtain from you.
            .info-box
                p Customers can access the Paperjet service through our website www.paperjet.com, applications on Devices, through APIs, and through third-parties. Access to the Paperjet Service, includes without limitation a desktop, laptop, mobile phone, tablet, or other consumer electronic device. This Privacy Policy outlines your access of the Paperjet Service and by using our site you consent to the collection, transfer, processing, storage, disclosure and other uses described in this Privacy Policy. The primary focus uploading and filing forms for signing, emailing and faxing. By visiting this website you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree, please do not use or access our Site or products. This Privacy Policy describes the information, as part of the normal operation of our services, we collect from you and what may happen to that information. By accepting the Privacy Policy and the User Agreement in registration, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy.

                p Personal Information collected examples include the clients username, email address, fax, names in the file we maintain about you, and other information we obtain from your activity on the site to resolve disputes, troubleshoot or help promote safe exchange of documents for signature and delivery, collect fees owed, authenticate users, inform you about online and offline offers, products, services (if you wish to no longer receive these offers you may follow the unsubscribe instructions contained in each of the email communications you receive), and updates, customize your experience, detect and protect us against error, fraud and other criminal activity. The users browser or mobile device details may be stored. Clients payments are handled through Stripe where we do not have access to and do not store credit card or payment information. The files you send or upload / download, or access through Paperjet are stored on the server which are only accessible only to the customers of the account holder themselves. The data contained in these files is encrypted and is unreadable and unusable for anyone else including our staff. Files can simply be permanently deleted from our servers at any time.

                p We also collect information from and about the devices you use. Things such as IP addresses, browser type, locale preferences, identification numbers associated with your Devices, your mobile carrier, date and time stamps associated with transactions, system configuration information, metadata concerning your files, the device you use, the web page you visited perviously or certain identifiers associated with the device you might be using. Your devices may transmit information regarding the location information when using our site. Our site uses Cookies to provide, improve, protect the services we offer. For example, cookies assist to remember your username when you next use the site, or to understand how you interact. You can remove Cookies on your browse if you wish, however this may effect the usefulness of the site.

                p The focus in collecting your personal information is to provide you with a safe, secure application which assists users with the process of filling out forms, signing contracts, and faxing forms as easily as possible. Paperjet has to collect information to identify its users. Once you sign up for our services, it is required to provide contact and identity information, billing information such as credit card details to process transactions, address, and other possible personal information.

                p We may send newsletters or request feedback via email not more than once per week. We have many servers around the world which may store your personal information outside of where you live.

                p Paperjet at times may disclose to outside parties files stored in your account and information about the user that we collect when we have a good faith belief that disclosure is reasonably necessary to comply with a law, regulation or compulsory legal request, protect the safety of any person from death or serious bodily injury,  prevent fraud or abuse our customers or to protect Paperjet's property rights. If we provide your Paperjet files to a law enforcement agency as set forth above, we will remove Paperjets encryption from the files before providing them to law enforcement. However, Paperjet will not be able to decrypt any files that you encrypted prior to storing them.

                p We cooperate with law enforcement inquiries or other third parties to enforce laws, such as intellectual property rights or fraud and other rights. In response to a verified request by such parties or other government officials that relate to any sort of criminal investigation or alleged illegal activity you authorize Paperjet to disclose your details including your personal full name, email address, state, city, telephone number, UserID history, fraud complaints, usage history in order to protect you and the community.

                p If Paperjet is involved in a merger or reorganization, an acquisition or sale of the company or our assets, your information may be transferred as part of that arrangement or deal made. We will however notify you via a email of any such a deal. We will also notify you of choices you may have regarding the information.

                p We may share aggregated, non-personally identifiable information publicly and with our partners – like publishers, advertisers or connected sites. For example, we may share information publicly to show trends about the general use of our services. As a matter of policy, we do not share, sell or rent any of your personal information to third parties

                p Once your subscription expires your files may be deleted automatically within 30 days. If you wish to cancel your account or request that we no longer use your information to provide you services, you may delete your account in your account page. We may retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. Consistent with these requirements, we will try to delete your information quickly upon request. Please note, however, that there might be latency in deleting information from our servers and backed-up versions might exist after deletion. In addition, we do not delete from our servers files that you have in common with other customers.

                p Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes). We will also keep prior versions of this Privacy Policy in an archive for your review.

                p The security of your information is important to us. When you enter sensitive information (such as a credit card number) on our order forms, we encrypt the transmission of that information using secure socket layer technology (SSL). We follow generally accepted standards to protect the information submitted to us, both during transmission and once we receive it. No method of electronic transmission or storage is 100% secure, however. Therefore, we cannot guarantee its absolute security.

                p Our Services are not directed to persons under 13. We do not knowingly collect personally identifiable information from children under 13. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent please contact us.

                p You are responsible for all actions taken with your User ID and password, including fees charged to your account, and all actions taken with your account so hence do not recommend that you disclose your password to any third parties.

                p It is your responsibility to keep your Paperjet password private and secure. We strongly recommend against sharing your login and password with others.

                p We take industry standard precautions through administrative, technical and physical measures to protect your Personal Information, Non-Personal Information and Private Data Files against loss, theft, misuse, unauthorized access, disclosure, alteration, and destruction.

                p We use Secure Sockets Layer (SSL) encryption on all web pages that collect any Personal Information. Using an SSL-enabled browser such as Chrome, Firefox, Safari or Internet Explorer is required when your Personal Information is transmitted over the Internet.

                p We take reasonable steps to ensure the integrity and security of our network and systems but cannot guarantee these security measures will prevent third-parties from obtaining Personal Information, Non Personal Information and Private Data Files by illegal actions or attacks. Should such an attack occur, we will notify you in accordance with local law and we will supply the appropriate authorities with available information on the third party in the event the attack comes under prosecution.

                p We offer you the ability to automatically review and change the information you submit to us by logging into the Site and entering in any new information you would like to amend yourself. You are able to change your password, contact information, financial information, and preferences by logging onto your profile page. Changing your personal information will not have any impact on completed transactions.

                p Thank you for reading and email us anytime for more information&nbsp;
                    a(href="mailto:support@paperjet.com") support@paperjet.com
