block variables
    -title='Sign forms - Paperjet. Go Paperless'
extends ../layout
block head

block content
    section.top-header-panel.no-bg
        navbar.navbar-default.white.affix(data-offset-top='300', role='navigation')
            include ../nav

    section.general-page
        .light-bg.light-bg-banner
            .container-fluid.innerpage-banner-wrap.clearfix
                .sign-forms-header.banner-header
                .header
                    h1 Sign forms online
                    h2 Draw your signature and drag and drop using our Signature Tool

            .title-box
                h2 Sign forms online
                p With Paperjet you may easily fill any form, and verify it with your visual signature. Form will be encrypted and stored on secured server. You may easily download, print, email and even fax your documents.
