block variables
    -title='Terms & Conditions - Paperjet. Go Paperless'
extends ../layout
block head

block content
    section.top-header-panel.no-bg
        navbar.navbar-default.white.affix(data-offset-top='300', role='navigation')
            include ../nav

    section.general-page
        .light-bg
            .title-box
                h2 Terms and Conditions
                p Thank you for using Papejet! Please read these Terms carefully. By using Paperjet or signing up for an account you agreeing to these Terms. This is a legal agreement so please read it if you are unsure about anything.
            .info-box
                p In order to use Paperjet, you must be at least thirteen (13) years old, complete the registration process, agree to the Terms and provide true, complete, and up to date contact information for maintaining the security of your account and password. Paperjet cannot and will not be liable for any loss or damage from your failure to comply with this security obligation. You are responsible for maintaining the security of your account and password. You may not use the Service for any illegal or unauthorized purpose. You must not violate any laws in your jurisdiction (including but not limited to copyright laws). You may not use the service to spam or send unsolicited emails, faxes, or sms individuals or businesses. You must be a human. Accounts registered by "bots" or other automated methods are not permitted.

                p By using Paperjet you represent and warrant that you meet all the requirements listed above and below and that you won't use Paperjet in a way that violates any laws or regulations. Paperjet may refuse service, close accounts of any users, and change eligibility requirements at any time.

                p You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process. Your login may only be used by one person - a single login shared by multiple people is not permitted. You may create separate logins for as many people as your plan allows. You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).

                p Paperjet reserves the right to update and change the Terms of Service from time to time without notice. Any new features that or enhancement to the current site including the release shall be subject to the Terms of Service. Continued use of the site after any such changes shall constitute your consent to such changes. You understand and agree that Paperjet cannot be responsible for the content posted on the site and you nonetheless may be exposed to such materials. You agree to use the site and its Services entirely at your own risk.

                h3 Payment, Refunds, Upgrading and Downgrading Terms

                ol
                    li A valid credit card for paying accounts.
                    li The Service is billed in advance on a monthly basis and is non-refundable.
                    li At the beginning of each month you will be billed for the maximum number of users that were active in the preceding month.
                    li All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.
                    li For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged the new rate on your next billing cycle.
                    li Downgrading your Service may cause the loss of Content, features, or capacity of your Account. Paperjet does not accept any liability for such loss or inconvenience.

                h3 Modifications to the Service and Prices

                p Paperjet reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. Prices of all Services are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Paperjet site pricelist page and Paperjet shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of our services.
                h3 Cancellation and Termination
                ol
                    li You are solely responsible for properly cancelling your account by logging onto your Account page and cancelling your account. You may also submit your cancellation request by sending an email to <a href="mailto:support@paperjet.com">support@paperjet.com</a> through a sales representative.
                    li All of your Content is still available for download after cancellation. 30 days after cancellation your Content will be deleted from the Service. This information cannot be recovered once deleted.
                    li If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again. Paperjet in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other Paperjet service. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account.

                h3 Modifications to the Service and Prices
                ol
                    li Paperjet reserves the right at any time and from time to time to modify, the Service (or any part thereof) with or without notice and to discontinue, temporarily or permanently the Service while providing 30 days notice.
                    li Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us.
                    li Paperjet shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.

                h3 Copyright and Content Ownership
                ol
                    li All Content posted on the Service is must comply with U.S. copyright law.
                    li We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours. However, by setting your pages to be shared publicly or for signing or filling in forms with shared users, you agree to allow others to view and share your Content.
                    li We shall maintain appropriate administrative, physical, and technical safeguards for protection of the security, confidentiality and integrity of your data. We shall not (a) modify your data, (b) disclose your data except as compelled by law or as expressly permitted in writing by you, or (c) access your data except to provide the Services and prevent or address service or technical problems, or at your request in connection with customer support matters.
                    li Paperjet does not pre-screen Content, but its designee has the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.
                    li The look and feel of the Service is copyright © 2014-2015 Paperjet. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts without express written permission from Paperjet.

                h3 General Conditions
                ol
                    li In respect of paid for Services, we shall: (i) provide our basic support to you for Business and Enterprise Packages, and/or upgraded support if purchased separately, (ii) use commercially reasonable efforts to make the Service available 24 hours a day, 7 days a week, except for: (a) planned downtime (of which we shall give at least 8 hours notice and which we shall schedule to the extent practicable during the weekend hours, or (b) any unavailability caused by circumstances beyond our reasonable control, including without limitation, acts of God, acts of government, floods, fires, earthquakes, civil unrest, acts of terror, strikes or other labor problems (other than those involving our employees), Internet service provider failures or delays, or denial of service attacks, and (iii) provide our Services only in accordance with applicable laws and government regulations.
                    li Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.
                    li Technical support is only provided to Business and Enterprise account holders and is only available via email.
                    li You understand that Paperjet uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.
                    li You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service.
                    li You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Paperjet.
                    li We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.
                    li Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Paperjet customer, employee, member, or officer will result in immediate account termination.
                    li You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
                    li You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.
                    li You must not transmit any worms or viruses or any code of a destructive nature.
                    li If your storage usage which includes uploaded files and emails exceeds your agreed storage cap per user, we reserve the right to immediately disable the integration and file uploading of the relevant user account until the storage usage has been reduced.
                    li You expressly understand and agree that Paperjet shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Paperjet has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
                    li The failure of Paperjet to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Paperjet and govern your use of the Service, super ceding any prior agreements between you and Paperjet (including, but not limited to, any prior versions of the Terms of Service).

                p This Agreement constitutes the entire agreement between the parties with respect to the access and use of the Services. It supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, regarding such subject matter and prevails over any conflicting terms or conditions contained on printed forms submitted with purchase orders, sales acknowledgments or quotations. Failure or delay by either party to enforce any provision of this Agreement will not be deemed a waiver of future enforcement of that or any other provision.

                h3 Disclaimers
                ol
                    li As Is. EXCEPT AS EXPRESSLY SET FORTH IN THIS AGREEMENT, THE SERVICES ARE IS PROVIDED "AS IS" AND PAPERJET MAKES NO AND DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE OR NONINFRINGEMENT OF THIRD PARTIES' INTELLECTUAL PROPERTY RIGHTS OR OTHER PROPRIETARY RIGHTS. THIS AGREEMENT IS NOT INTENDED TO, AND DOES NOT, EXPRESS OR IMPLY ANY WARRANTY THAT THE OPERATION OF THE SERVICES WILL BE UNINTERRUPTED, TIMELY, OR ERROR-FREE.ANY USE OF THE SERVICES TO ENGAGE IN TRANSACTIONS OR COMMUNICATE WITH ANY CONTACTS OR OTHER THIRD PARTY IS AT USER'S SOLE RISK. PAPERJET MAKES NO WARRANTY THAT USER'S USE OF THE SERVICE OR ANY TRANSACTIONS ENTERED INTO THROUGH USER'S ACCESS OR USE OF THE SERVICE WILL MEET USER'S REQUIREMENTS.

                    li Limitation of Liability. IN NO EVENT WILL PAPERJET BE LIABLE FOR ANY LOST PROFITS, REVENUE OR DATA, OR OTHER INCIDENTAL, SPECIAL, PUNITIVE, EXEMPLARY, INDIRECT OR CONSEQUENTIAL DAMAGES, ARISING OUT OF OR RELATED TO THE SERVICES OR ANY ACCESS OR USE THEREOF. IN NO EVENT WILL PAPERJETS LIABILITY TO USER OR ANY THIRD PARTY, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, EXCEED THE PRICE OF THE APPLICABLE SERVICE PAID BY USER. THE FOREGOING LIMITATIONS OF LIABILITY WILL APPLY, EVEN IF PAPERJET HAS BEEN ADVISED, OR IS OTHERWISE AWARE, OF THE POSSIBILITY OF DAMAGES IN EXCESS OF SUCH LIMITATIONS AND EVEN IF THE WARRANTY REMEDY OF THIS SECTION FAILS OF ITS ESSENTIAL PURPOSE. User and PAPERJET agree that the Disclaimers set herein and the Limitation of Liability of this Section are reasonable in light of the covenants, obligations and rights agreed to or granted under this Agreement.

                p SOME STATES DO NOT ALLOW EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR INCIDENTAL, SPECIAL, PUNITIVE, OR OTHER INDIRECT OR CONSEQUENTIAL DAMAGES, SO THE LIMITATIONS OR EXCLUSIONS OF THIS SECTION OF THIS AGREEMENT AND MAY NOT APPLY TO THE USER. IN SUCH STATES, THE LIABILITY OF PAPERJET WILL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.

                p If you have any questions at all please email us at <a href="mailto:support@paperjet.com">support@paperjet.com</a>
