<div class="container">
    <div class="row">
        <div class="app-footer col-sm-12">
            <a target="_blank" href="/support">Support</a>
            <a target="_blank" href="/pricing">Pricing</a>
            <a target="_blank" href="/security">Security</a>
        </div>
    </div>
</div>
