<nav class="navbar navbar-default navbar-fixed-top app-header route-dialog-header" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/"></a>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="navbar-form navbar-right expanded-only route-dialog-header-title">
                {{title}}
            </div>
        </div>
    </div>
</nav>
