<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{stats-chart id="dash-1"}}
        </div>
        <div class="col-md-6">
            {{stats-chart id="dash-2"}}
        </div>
    </div>
</div>
